<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="../stylesheet/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <ul class="nav navbar-nav">
        <li><a href="demographics">Demographics</a></li>
        <li><a href="vitals">Vitals</a></li>
        <li><a href="medication">Medication</a></li>
        <li><a href="history">History</a></li>
        <li><a href="signin">Sign in</a></li>
        <li><a href="signup">Sign up</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 personal-info">
          <h3 class="col-md-offset-5 form-label">Personal info</h3>
          <form role="form" class="form-horizontal">
            <div class="form-group">
              <label class="col-lg-3 control-label">First name:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="First name" class="form-control fName"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Middle name:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Middle Name" class="form-control mName"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Last name:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Last name" class="form-control lName"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Birthday:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="12/10/1976" class="form-control dob"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">SSN:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="123-45-6789" class="form-control ssn"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Phone:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="(555)-555-5555" class="form-control phone"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Address:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="123 Main Street" class="form-control address"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">City:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="City" class="form-control city"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">State:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="123 Main Street" class="form-control state"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Zip:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="12345" class="form-control zip"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Email:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="email@mail.com" class="form-control email"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Company:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Company" class="form-control company"/>
              </div>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="button" value="Save Changes" class="btn btn-primary submitBtn"/><span></span>
                <input type="reset" value="Clear form" class="btn btn-default clearBtn"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
