<!DOCTYPE html>
<% include header.ejs %>
  <div class="supercontainer">
    <div class="container2">
      <div class="headercontainer">
        <div class="headertext">PERSONAL INFORMATION
        </div>
      </div>
      <div class="innercontainer">
        <div class="formcontainer">
            <form action="/demographics/:sessionId" role="form" method="post">
              <div class="row1container rowcontainer">
                <label for="lastname">Last Name:</label>
                <input class="inputline" type="text" name="lastname" id="lastname">
                <label for="firstname">First Name:</label>
                <input class="inputline" type="text" name="firstname" id="firstname">
                <label for="middleinitial">Middle Initial:</label>
                <select id="middleinitial">
                  <option value=""></option>
                  <option value="none">none</option>
                  <option value="A">A</option>
                  <option value="B">B</option>
                  <option value="C">C</option>
                  <option value="D">D</option>
                  <option value="E">E</option>
                  <option value="F">F</option>
                  <option value="G">G</option>
                  <option value="H">H</option>
                  <option value="I">I</option>
                  <option value="J">J</option>
                  <option value="K">K</option>
                  <option value="L">L</option>
                  <option value="M">M</option>
                  <option value="N">N</option>
                  <option value="O">O</option>
                  <option value="P">P</option>
                  <option value="Q">Q</option>
                  <option value="R">R</option>
                  <option value="S">S</option>
                  <option value="T">T</option>
                  <option value="U">U</option>
                  <option value="V">V</option>
                  <option value="W">W</option>
                  <option value="X">X</option>
                  <option value="Y">Y</option>
                  <option value="Z">Z</option>
                </select>
                <label for="dob">DOB:</label>
                <input class="dob" type="date" name="dob" id="dob">
                <label for="age">Age:</label>
                <input class="age inputline" type="text" name="age" id="age">
              </div>
              <div class="row2container rowcontainer">
                <label for="streetaddress">Street Address:</label>
                <input class="inputline2" type="text" name="streetaddress" id="streetaddress">
                <label for="city">City:</label>
                <input class="inputline" type="text" name="city" id="city">
                <label for="state">State:</label>
                <select id="state">
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
                <label for="zip">Zip Code:</label>
                <input class="inputline" type="text" name="zip" id="zip">
              </div>
              <div class="row3container rowcontainer">
                <label for="dln">Driver's License Number:</label>
                <input class="inputline" type="text" name="dln" id="dln">
                <label for="issuing">Issuing State:</label>
                <select class="issuing" id="issuing" name="issuing">
                  <option value="AL">Alabama</option>
                  <option value="AK">Alaska</option>
                  <option value="AZ">Arizona</option>
                  <option value="AR">Arkansas</option>
                  <option value="CA">California</option>
                  <option value="CO">Colorado</option>
                  <option value="CT">Connecticut</option>
                  <option value="DE">Delaware</option>
                  <option value="DC">District Of Columbia</option>
                  <option value="FL">Florida</option>
                  <option value="GA">Georgia</option>
                  <option value="HI">Hawaii</option>
                  <option value="ID">Idaho</option>
                  <option value="IL">Illinois</option>
                  <option value="IN">Indiana</option>
                  <option value="IA">Iowa</option>
                  <option value="KS">Kansas</option>
                  <option value="KY">Kentucky</option>
                  <option value="LA">Louisiana</option>
                  <option value="ME">Maine</option>
                  <option value="MD">Maryland</option>
                  <option value="MA">Massachusetts</option>
                  <option value="MI">Michigan</option>
                  <option value="MN">Minnesota</option>
                  <option value="MS">Mississippi</option>
                  <option value="MO">Missouri</option>
                  <option value="MT">Montana</option>
                  <option value="NE">Nebraska</option>
                  <option value="NV">Nevada</option>
                  <option value="NH">New Hampshire</option>
                  <option value="NJ">New Jersey</option>
                  <option value="NM">New Mexico</option>
                  <option value="NY">New York</option>
                  <option value="NC">North Carolina</option>
                  <option value="ND">North Dakota</option>
                  <option value="OH">Ohio</option>
                  <option value="OK">Oklahoma</option>
                  <option value="OR">Oregon</option>
                  <option value="PA">Pennsylvania</option>
                  <option value="RI">Rhode Island</option>
                  <option value="SC">South Carolina</option>
                  <option value="SD">South Dakota</option>
                  <option value="TN">Tennessee</option>
                  <option value="TX">Texas</option>
                  <option value="UT">Utah</option>
                  <option value="VT">Vermont</option>
                  <option value="VA">Virginia</option>
                  <option value="WA">Washington</option>
                  <option value="WV">West Virginia</option>
                  <option value="WI">Wisconsin</option>
                  <option value="WY">Wyoming</option>
                </select>
                <label for="phone">Phone:</label>
                (<input type=tel size=3 name="phone1">)<input type=tel size=3 name="phone2"> -
                    <input type=tel size=4 name="phone3">


                <strong class="maingenderlabel">Gender:</strong>
                <label class="genderlabel" for="male">M</label>
                <input class="" type="radio" name="gender" id="male">
                <label class="genderlabel" for="female">F</label>
                <input class="" type="radio" name="gender" id="female">
              </div>
              <div class="row4container rowcontainer">
                <label for="email">E-mail (optional):</label>
                <input class="inputline emailinput" type="text" name="email" id="email">
                <label for="holder">CLP/CDL Applicant/Holder*:</label>
                <label class="genderlabel" for="yesholder">yes</label>
                <input class="" type="radio" name="holder" id="yesholder">
                <label class="genderlabel" for="noholder">no</label>
                <input class="" type="radio" name="holder" id="noholder">
              </div>
              <div class="row5container rowcontainer">
                <label class="verifiedspace"></label
                <label for="verified">Driver ID Verified By**:</label>
                <input class="inputline verifiedinput" type="text" name="verified" id="verified">
              </div>
              <div class="row6container rowcontainer">
                <label for="denied">Has your USDOT/FMCSA medical certificate ever been denied or issued for less than 2 years?</label>
                <label class="genderlabel" for="yesdenied">yes</label>
                <input class="" type="radio" name="denied" id="yesdenied">
                <label class="genderlabel" for="nodenied">no</label>
                <input class="" type="radio" name="denied" id="nodenied">
                <label class="genderlabel" for="notsuredenied">not sure</label>
                <input class="" type="radio" name="denied" id="notsuredenied">
              </div>

              <a href="watch9.pdf">pdf</a>
              <input type="submit" value="Submit">
            </form>
        </div>
      </div>
    </div>
  </div>

<% include footer.ejs %>
