<!DOCTYPE html>
<% include header.ejs %>



<!--   <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 main-box">
        <div class="main-header">Header</div>
        <div class="">
          <div>hayyyyy</div>
          <div>hayyyyy</div>
          <div>hayyyyy</div>
          <div>hayyyyy</div>
          <div>hayyyyy</div>
          <div>hayyyyy</div>
          <div>hayyyyy</div>
        </div>
      </div>
    </div>
  </div> -->
<div class="super-container2">
  <div class="main-container2">
    <div class="content-container2">
      <div class="header-container2">
        <div class="header-content2">Header Title</div>
      </div>
      <div class="form-container2">
        <div>hayyyyy</div>
        <div>hayyyyy</div>
        <div>hayyyyy</div>
        <div>hayyyyy</div>
        <div>hayyyyy</div>
        <div>hayyyyy</div>
      </div>
    </div>
  </div>
</div>











<% include footer.ejs %>
