doctype html
html
  head
    meta(charset='UTF-8')
    title title
    link(rel='stylesheet', type='text/css', href='../stylesheet/main.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', type='text/css')
  body
    nav.navbar.navbar-default.navbar-fixed-top
      ul.nav.navbar-nav
        li
          a(href='demographics') Demographics
        li
          a(href='vitals') Vitals
        li
          a(href='medication') Medication
        li
          a(href='history') History
        li
          a(href='signin') Sign in
        li
          a(href='signup') Sign up
