<!DOCTYPE html>
<% include header.ejs %>


<div class="table-header">DRIVER HEALTH HISTORY</div>
  <div class=" container full-container">


    <form action="" method="post" name="frmSurvey">
      <div class="row">
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th class="question">Do you have or have you ever had:</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>2. Seizures, epilepsy</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="table">
            <tr>
              <th class="question">Do you have or have you ever had:</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>2. Seizures, epilepsy</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
          </table>
        </div>
      </div>


    </form>
  </div>


  <% include footer.ejs %>
