<!DOCTYPE html>
<% include header.ejs %>

<div class="table-left">
  <form action="" method="post" name="frmSurvey">
  <div class="">
    <table class="table">
      <tr>
        <th class="question">Do you have or have you ever had:</td>
        <th class="yes">Yes</th>
        <th class="no">No</th>
        <th class="notsure">Not sure</th>
      </tr>
      <tr>
        <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
        <td class="yes"><input type="radio" name="" value="" id=""</td>
        <td class="no"><input type="radio" name="" value="" id=""</td>
        <td class=notsure><input type="radio" name="" value="" id=""</td>
      </tr>

    </table>

  </form>
</div














<% include footer.ejs %>
