<!DOCTYPE html>
<% include header.ejs %>


<div class="table-header">DRIVER HEALTH HISTORY</div>
  <div class=" container full-container">


    <form action="" method="post" name="frmSurvey">
      <div class="row">
        <div class="col-md-6">
          <table class="tables">
            <tr>
              <th class="question">Do you have or have you ever had:</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>2. Seizures, epilepsy</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>3. Eye problems (except glasses or contacts)</td>
              <td class="yes"><input type="radio" name="3" value="" id="" </td>
              <td class="no"><input type="radio" name="3" value="" id="" </td>
              <td class=notsure><input type="radio" name="3" value="" id="" </td>
            </tr>
            <tr>
              <td>4. Ear and/or hearing problems</td>
              <td class="yes"><input type="radio" name="4" value="" id="" </td>
                <td class="no"><input type="radio" name="4" value="" id="" </td>
                  <td class=notsure><input type="radio" name="4" value="" id="" </td>
            </tr>
            <tr>
              <td>5. Heart disease, heart attack, bypass, or other heart problems</td>
              <td class="yes"><input type="radio" name="5" value="" id="" </td>
                <td class="no"><input type="radio" name="5" value="" id="" </td>
                  <td class=notsure><input type="radio" name="5" value="" id="" </td>
            </tr>
            <tr>
              <td>6. Pacemaker, stents, implantable devices, or other heart procedures</td>
              <td class="yes"><input type="radio" name="6" value="" id="" </td>
                <td class="no"><input type="radio" name="6" value="" id="" </td>
                  <td class=notsure><input type="radio" name="6" value="" id="" </td>
            </tr>
            <tr>
              <td>7. High blood pressure</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>8. High cholesterol</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>9. Chronic (long-term) cough, shortness of breath, or other breathing problems</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>10. Lung disease (e.g., asthma)</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>11. Kidney problems, kidney stones, or pain/problems with
urination</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>12. Stomach, liver, or digestive problems</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
            <tr>
              <td>13. Diabetes or blood sugar problems
Insulin used</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>14. Anxiety, depression, nervousness, other mental health problems</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>15. Fainting or passing out</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>16. Dizziness, headaches, numbness, tingling, or memory loss</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
          </table>
        </div>
        <div class="col-md-6">
          <table class="tables">
            <tr>
              <th class="question">(continued)</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>17. Unexplained weight loss</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>18. Stroke, mini-stroke (TIA), paralysis, or weakness</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>19. Missing or limited use of arm, hand, finger, leg, foot, toe</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>20. Neck or back problems</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>21. Bone, muscle, joint, or nerve problems</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>22. Blood clots or bleeding problems</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>23. Cancer</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>24. Chronic (long-term) infection or other chronic diseases</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>25. Sleep disorders, pauses in breathing while asleep, daytime sleepiness, loud snoring</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>26. Have you ever had a sleep test (e.g., sleep apnea)?</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>27. Have you ever spent a night in the hospital?</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
            <tr>
              <td>28. Have you ever had a broken bone?</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>29. Have you ever used or do you now use tobacco?</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>30. Do you currently drink alcohol?</td>
              <td class="yes"><input type="radio" name="1" value="" id="" </td>
                <td class="no"><input type="radio" name="1" value="" id="" </td>
                  <td class=notsure><input type="radio" name="1" value="" id="" </td>
            </tr>
            <tr>
              <td>31. Have you used an illegal substance within the past two years?</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
            <tr>
              <td>32. Have you ever failed a drug test or been dependent on an illegal substance?</td>
              <td class="yes"><input type="radio" name="2" value="" id="" </td>
                <td class="no"><input type="radio" name="2" value="" id="" </td>
                  <td class=notsure><input type="radio" name="2" value="" id="" </td>
            </tr>
          </table>
        </div>





      </div>


    </form>
  </div>


  <% include footer.ejs %>
