<!DOCTYPE html>
<% include header.ejs %>
<div class="history-super-container">
  <div class="history-container">
        <div class="headercontainer">
        <div class="headertext">HISTORY
        </div>
      </div>
    <div class="history-form-container">
      <form method="post" action="/history" role="form">
        <div class="text-area-container">
          <div class="other-question-container">
          <table class="other-table">
            <tr>
              <td class="other-question">Have you ever had surgery? If "yes," please list and explain below.</td>
              <!-- <div class="radio-container"> -->
                <td class="initial-push">Yes:<input class="otherbutton" type="radio" value="1" checked="checked" name="surgeryButton"></td>
                <td>No:<input class="otherbutton" type="radio" value="2" name="surgeryButton"></td>
                <td>Not sure:<input class="otherbutton" type="radio" value="3" name="surgeryButton"</td>
              <!-- </div> -->
            </div>
            </tr>
          </table>
          <textarea class="other-conditions" name="surgeryComments"></textarea>
          <table class="other-table">
          <tr>
            <td class="other-question">Are you currently taking medications (prescription, over-the-counter, herbal remedies, diet supplements)?<br>
If "yes," please describe below.</td>
            <!-- <div class="radio-container"> -->
              <td class="initial-push">Yes:<input class="yesButton" type="radio" value="1" checked="checked" name="medicationButton" id="medication-button"></td>
              <td>No:<input class="otherbutton" type="radio" value="2" name="medicationButton" id="medication-button"></td>
              <td>Not sure:<input class="otherbutton" type="radio" value="3" name="medicationButton" id="medication-button"</td>
            <!-- </div> -->
          </div>
          </tr>
          </table>
          <textarea class="other-conditions" name="medicationComments"></textarea>
        </div>
        <div class="table-left-container">
          <table class="tables">
            <tr>
              <th class="question">(continued)</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>17. Unexplained weight loss</td>
              <td class="yes"><input type="radio" name="unexplainedWeightLoss" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="unexplainedWeightLoss" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="unexplainedWeightLoss" value="3" id="" ></td>
            </tr>
            <tr>
              <td>18. Stroke, mini-stroke (TIA), paralysis, or weakness</td>
              <td class="yes"><input type="radio" name="stroke" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="stroke" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="stroke" value="3" id="" ></td>
            </tr>
            <tr>
              <td>19. Missing or limited use of arm, hand, finger, leg, foot, toe</td>
              <td class="yes"><input type="radio" name="missingLimbs" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="missingLimbs" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="missingLimbs" value="3" id="" ></td>
            </tr>
            <tr>
              <td>20. Neck or back problems</td>
              <td class="yes"><input type="radio" name="backProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="backProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="backProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>21. Bone, muscle, joint, or nerve problems</td>
              <td class="yes"><input type="radio" name="boneProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="boneProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="boneProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>22. Blood clots or bleeding problems</td>
              <td class="yes"><input type="radio" name="bloodClots" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="bloodClots" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="bloodClots" value="3" id="" ></td>
            </tr>
            <tr>
              <td>23. Cancer</td>
              <td class="yes"><input type="radio" name="cancer" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="cancer" value="2" id="" </td>
              <td class="notsure"><input type="radio" name="cancer" value="3" id="" ></td>
            </tr>
            <tr>
              <td>24. Chronic (long-term) infection or other chronic diseases</td>
              <td class="yes"><input type="radio" name="chronicDiseases" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="chronicDiseases" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="chronicDiseases" value="3" id="" ></td>
            </tr>
            <tr>
              <td>25. Sleep disorders, pauses in breathing while asleep, daytime sleepiness, loud snoring</td>
              <td class="yes"><input type="radio" name="sleepDisorders" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="sleepDisorders" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="sleepDisorders" value="3" id="" ></td>
            </tr>
            <tr>
              <td>26. Have you ever had a sleep test (e.g., sleep apnea)?</td>
              <td class="yes"><input type="radio" name="sleepTest" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="sleepTest" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="sleepTest" value="3" id="" ></td>
            </tr>
            <tr>
              <td>27. Have you ever spent a night in the hospital?</td>
              <td class="yes"><input type="radio" name="nightInHospital" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="nightInHospital" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="nightInHospital" value="3" id="" ></td>
            </tr>
            <tr>
              <tr>
                <td>28. Have you ever had a broken bone?</td>
                <td class="yes"><input type="radio" name="brokenBone" value="1" checked="checked" id="" ></td>
                <td class="no"><input type="radio" name="brokenBone" value="2" id="" ></td>
                <td class="notsure"><input type="radio" name="brokenBone" value="3" id="" ></td>
              </tr>
              <tr>
                <td>29. Have you ever used or do you now use tobacco?</td>
                <td class="yes"><input type="radio" name="useTobacco" value="1" checked="checked" id="" ></td>
                <td class="no"><input type="radio" name="useTobacco" value="2" id="" ></td>
                <td class="notsure"><input type="radio" name="useTobacco" value="3" id="" ></td>
              </tr>
              <tr>
                <td>30. Do you currently drink alcohol?</td>
                <td class="yes"><input type="radio" name="drinkAlcohol" value="1" checked="checked" id="" ></td>
                <td class="no"><input type="radio" name="drinkAlcohol" value="2" id="" ></td>
                <td class="notsure"><input type="radio" name="drinkAlcohol" value="3" id="" ></td>
              </tr>
              <tr>
                <td>31. Have you used an illegal substance within the past two years?</td>
                <td class="yes"><input type="radio" name="illegalSubstance" value="1" checked="checked" id="" ></td>
                <td class="no"><input type="radio" name="illegalSubstance" value="2" id="" ></td>
                <td class="notsure"><input type="radio" name="illegalSubstance" value="3" id="" ></td>
              </tr>
              <tr>
                <td>32. Have you ever failed a drug test or been dependent on an illegal substance?</td>
                <td class="yes"><input type="radio" name="failedDrugTest" value="1" checked="checked" id=""></td>
                <td class="no"><input type="radio" name="failedDrugTest" value="2" id=""></td>
                <td class="notsure"><input type="radio" name="failedDrugTest" value="3" id=""></td>
              </tr>
          </table>
        </div>
        <div class="table-right-container">
          <table class="tables">
            <tr>
              <th class="question">Do you have or have you ever had:</td>
              <th class="yes">Yes</th>
              <th class="no">No</th>
              <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
              <td class="yes"><input type="radio" name="brainInjuries" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="brainInjuries" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="brainInjuries" value="3" id="" ></td>
            </tr>
            <tr>
              <td>2. Seizures, epilepsy</td>
              <td class="yes"><input type="radio" name="seizures" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="seizures" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="seizures" value="3" id="" ></td>
            </tr>
            <tr>
              <td>3. Eye problems (except glasses or contacts)</td>
              <td class="yes"><input type="radio" name="eyeProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="eyeProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="eyeProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>4. Ear and/or hearing problems</td>
              <td class="yes"><input type="radio" name="earProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="earProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="earProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>5. Heart disease, heart attack, bypass, or other heart problems</td>
              <td class="yes"><input type="radio" name="heartProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="heartProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="heartProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>6. Pacemaker, stents, implantable devices, or other heart procedures</td>
              <td class="yes"><input type="radio" name="paceMaker" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="paceMaker" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="paceMaker" value="3" id="" ></td>
            </tr>
            <tr>
              <td>7. High blood pressure</td>
              <td class="yes"><input type="radio" name="highBloodPressure" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="highBloodPressure" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="highBloodPressure" value="3" id="" ></td>
            </tr>
            <tr>
              <td>8. High cholesterol</td>
              <td class="yes"><input type="radio" name="highCholesterol" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="highCholesterol" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="highCholesterol" value="3" id="" ></td>
            </tr>
            <tr>
              <td>9. Chronic (long-term) cough, shortness of breath, or other breathing problems</td>
              <td class="yes"><input type="radio" name="breathingProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="breathingProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="breathingProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>10. Lung disease (e.g., asthma)</td>
              <td class="yes"><input type="radio" name="lungDisease" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="lungDisease" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="lungDisease" value="3" id="" ></td>
            </tr>
            <tr>
              <td>11. Kidney problems, kidney stones, or pain/problems with urination
              </td>
              <td class="yes"><input type="radio" name="kidneyProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="kidneyProblems" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="kidneyProblems" value="3" id="" ></td>
            </tr>
            <tr>
              <td>12. Stomach, liver, or digestive problems</td>
              <td class="yes"><input type="radio" name="stomachProblems" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="stomachProblems"" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="stomachProblems"" value="3" id="" ></td>
            </tr>
            <tr>
              <td>13. Diabetes or blood sugar problems</td>
              <td class="yes"><input type="radio" name="diabetes" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="diabetes" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="diabetes" value="3" id="" ></td>
            </tr>
              <td>Insulin used</td>
              <td class="yes"><input type="radio" name="insulin" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="insulin" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="insulin" value="3" id="" ></td>
            </tr>
            <tr>
              <td>14. Anxiety, depression, nervousness, other mental health problems</td>
              <td class="yes"><input type="radio" name="anxiety" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="anxiety" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="anxiety" value="3" id="" ></td>
            </tr>
            <tr>
              <td id="demo">15. Fainting or passing out</td>
              <td class="yes"><input type="radio" name="fainting" value="1" checked="checked" id="" ></td>
              <td class="no"><input type="radio" name="fainting" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="fainting" value="3" id="" ></td>
            </tr>
            <tr>
              <td>16. Dizziness, headaches, numbness, tingling, or memory loss</td>
              <td class="yes"><input type="radio" name="dizziness" value="1" checked="checked" id="demo" ></td>
              <td class="no"><input type="radio" name="dizziness" value="2" id="" ></td>
              <td class="notsure"><input type="radio" name="dizziness" value="3" id="" ></td>
            </tr>
          </table>
        </div>


        <div class="text-area-container">
          <div class="other-question-container">
          <table class="other-table">
            <tr>
              <td class="other-question">Other health condition(s) not described above:</td>
              <!-- <div class="radio-container"> -->
                <td class="initial-push">Yes:<input class="otherbutton" type="radio" value="1" checked="checked" name="otherButton"></td>
                <td>No:<input class="otherbutton" type="radio" value="2" name="otherButton"></td>
                <td>Not sure:<input class="otherbutton" type="radio" value="3" name="otherButton"</td>
              <!-- </div> -->
            </div>
            </tr>
          </table>
          <textarea class="other-conditions" name="otherComments"></textarea>
          <table class="other-table">
          <tr>
            <td class="other-question">Did you answer "yes" to any of questions 1-32? If so, please comment further on those health conditions below.</td>
            <!-- <div class="radio-container"> -->
              <td class="initial-push">Yes:<input class="yesButton" type="radio" value="1" checked="checked" name="yesButton"></td>
              <td>No:<input class="otherbutton" type="radio" value="2" name="yesButton"></td>
              <td>Not sure:<input class="otherbutton" type="radio" value="3" name="yesButton"</td>
            <!-- </div> -->
          </div>
          </tr>
          </table>
          <textarea class="other-conditions" name="yesDescribe"></textarea>
        </div>


      <input id="history-submit-btn" type="submit" value="Submit">
      </form>
      <!-- <input type="submit" onclick="getElementById('demo').innerHTML=Date()"value="Submit"> -->
    </div>
  </div>
</div>




  <% include footer.ejs %>
