<!DOCTYPE html>
<% include header.ejs %>
<div class="history-super-container">
  <div class="history-container">
        <div class="headercontainer">
        <div class="headertext">HISTORY
        </div>
      </div>
    <div class="history-form-container">
      <form method="post" action="/history" role="form">
        <div class="table-left-container">
          <table class="tables">
            <tr>
              <th class="question">(continued)</td>
                <th class="yes">Yes</th>
                <th class="no">No</th>
                <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>17. Unexplained weight loss</td>
              <td class="yes"><input type="radio" name="unexplainedWeightLoss" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="unexplainedWeightLoss" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="unexplainedWeightLoss" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>18. Stroke, mini-stroke (TIA), paralysis, or weakness</td>
              <td class="yes"><input type="radio" name="stroke" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="stroke" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="stroke" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>19. Missing or limited use of arm, hand, finger, leg, foot, toe</td>
              <td class="yes"><input type="radio" name="missingLimbs" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="missingLimbs" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="missingLimbs" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>20. Neck or back problems</td>
              <td class="yes"><input type="radio" name="backProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="backProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="backProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>21. Bone, muscle, joint, or nerve problems</td>
              <td class="yes"><input type="radio" name="boneProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="boneProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="boneProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>22. Blood clots or bleeding problems</td>
              <td class="yes"><input type="radio" name="bloodClots" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="bloodClots" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="bloodClots" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>23. Cancer</td>
              <td class="yes"><input type="radio" name="cancer" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="cancer" value="no" id="no" </td>
              <td class=notsure><input type="radio" name="cancer" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>24. Chronic (long-term) infection or other chronic diseases</td>
              <td class="yes"><input type="radio" name="chronicDiseases" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="chronicDiseases" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="chronicDiseases" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>25. Sleep disorders, pauses in breathing while asleep, daytime sleepiness, loud snoring</td>
              <td class="yes"><input type="radio" name="sleepDisorders" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="sleepDisorders" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="sleepDisorders" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>26. Have you ever had a sleep test (e.g., sleep apnea)?</td>
              <td class="yes"><input type="radio" name="sleepTest" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="sleepTest" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="sleepTest" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>27. Have you ever spent a night in the hospital?</td>
              <td class="yes"><input type="radio" name="nightInHospital" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="nightInHospital" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="nightInHospital" value="notsure" id="" ></td>
            </tr>
            <tr>
              <tr>
                <td>28. Have you ever had a broken bone?</td>
                <td class="yes"><input type="radio" name="brokenBone" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="brokenBone" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="brokenBone" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>29. Have you ever used or do you now use tobacco?</td>
                <td class="yes"><input type="radio" name="useTobacco" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="useTobacco" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="useTobacco" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>30. Do you currently drink alcohol?</td>
                <td class="yes"><input type="radio" name="drinkAlcohol" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="drinkAlcohol" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="drinkAlcohol" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>31. Have you used an illegal substance within the past two years?</td>
                <td class="yes"><input type="radio" name="illegalSubstance" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="illegalSubstance" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="illegalSubstance" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>32. Have you ever failed a drug test or been dependent on an illegal substance?</td>
                <td class="yes"><input type="radio" name="failedDrugTest" value="yes" id=""></td>
                <td class="no"><input type="radio" name="failedDrugTest" value="no" id=""></td>
                <td class=notsure><input type="radio" name="failedDrugTest" value="notsure" id=""></td>
              </tr>
          </table>
        </div>
        <div class="table-right-container">
          <table class="tables">
            <tr>
              <th class="question">Do you have or have you ever had:</td>
              <th class="yes">Yes</th>
              <th class="no">No</th>
              <th class="notsure">Not sure</th>
            </tr>
            <tr>
              <td>1. Head/brain injuries or illnesses (e.g., concussion)</td>
              <td class="yes"><input type="radio" name="brainInjuries" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="brainInjuries" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="brainInjuries" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>2. Seizures, epilepsy</td>
              <td class="yes"><input type="radio" name="seizures" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="seizures" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="seizures" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>3. Eye problems (except glasses or contacts)</td>
              <td class="yes"><input type="radio" name="eyeProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="eyeProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="eyeProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>4. Ear and/or hearing problems</td>
              <td class="yes"><input type="radio" name="earProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="earProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="earProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>5. Heart disease, heart attack, bypass, or other heart problems</td>
              <td class="yes"><input type="radio" name="heartProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="heartProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="heartProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>6. Pacemaker, stents, implantable devices, or other heart procedures</td>
              <td class="yes"><input type="radio" name="paceMaker" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="paceMaker" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="paceMaker" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>7. High blood pressure</td>
              <td class="yes"><input type="radio" name="highBloodPressure" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="highBloodPressure" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="highBloodPressure" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>8. High cholesterol</td>
              <td class="yes"><input type="radio" name="highCholesterol" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="highCholesterol" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="highCholesterol" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>9. Chronic (long-term) cough, shortness of breath, or other breathing problems</td>
              <td class="yes"><input type="radio" name="breathingProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="breathingProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="breathingProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>10. Lung disease (e.g., asthma)</td>
              <td class="yes"><input type="radio" name="lungDisease" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="lungDisease" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="lungDisease" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>11. Kidney problems, kidney stones, or pain/problems with urination
              </td>
              <td class="yes"><input type="radio" name="kidneyProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="kidneyProblems" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="kidneyProblems" value="notsure" id="" ></td>
            </tr>
            <tr>
              <td>12. Stomach, liver, or digestive problems</td>
              <td class="yes"><input type="radio" name="stomachProblems" value="yes" id="" ></td>
              <td class="no"><input type="radio" name="stomachProblems"" value="no" id="" ></td>
              <td class=notsure><input type="radio" name="stomachProblems"" value="notsure" id="" ></td>
            </tr>
            <tr>
              <tr>
                <td>13. Diabetes or blood sugar problems Insulin used</td>
                <td class="yes"><input type="radio" name="diabetes" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="diabetes" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="diabetes" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>14. Anxiety, depression, nervousness, other mental health problems</td>
                <td class="yes"><input type="radio" name="anxiety" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="anxiety" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="anxiety" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>15. Fainting or passing out</td>
                <td class="yes"><input type="radio" name="fainting" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="fainting" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="fainting" value="notsure" id="" ></td>
              </tr>
              <tr>
                <td>16. Dizziness, headaches, numbness, tingling, or memory loss</td>
                <td class="yes"><input type="radio" name="dizziness" value="yes" id="" ></td>
                <td class="no"><input type="radio" name="dizziness" value="no" id="" ></td>
                <td class=notsure><input type="radio" name="dizziness" value="notsure" id="" ></td>
              </tr>
          </table>
        </div>
      <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>




  <% include footer.ejs %>
