<!DOCTYPE html>
<% include header.ejs %>
<!-- <div>  <%= arr %>  </div> -->

<table>
<% for(var i=0; i < arr.length; i++) { %>
   <tr>
     <td><a class="followup-links" href="/<%= arr[i] %>"><%= arr[i] %></a></td>
   </tr>
<% } %>
</table>

<!-- <div class="followup-container">
  <div class="followup-sub-container">
    <form>
      <div class="followup-question">
        <strong>The patient has had or is not sure if they have had brain/head injuries.</br>
        How would you best describe the patients status?</strong>
      </div>
      <select class="select" name="select">
        <option value="none-mild">mild - without seizures</option>
        <option value="mild-with" selected>mild - with seizures</option>
        <option value="moderate-without">moderate - without seizures</option>
        <option value="N/A">N/A</option>
      </select>
      <input class="type1" type="submit">
    </form>
  </div>
</div> -->

<!-- <h1>OR</h1> -->

<div class="followup-container">
  <div class="followup-sub-container">
    <div class="followup-form-container">
      <form class="follup-form">

        <div class="followup-brain-container brainInjuries">
          <div class="followup-question">
            <strong>The patient has had or is not sure if they have had brain/head injuries.</br>
            How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input type="radio" value="mild-none" name="followupseizures">mild - without seizures</br>
            <input type="radio" value="mild-with" name="followupseizures" selected>mild - with seizures</br>
            <input type="radio" value="moderate-none" name="followupseizures">moderate - without seizures</br>
            <input type="radio" value="na" name="followupseizures">N/A</br>
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupBrainNotes" class="followup-textarea"></textarea>
        </div>

        <hr>

        <div class="followup-seizures-container">
          <div class="seizures-question">
            <strong>The patient has had or is not sure if they have had epilepsy/seizures. How would you best describe the patients status?</strong>
          </div>
          <div class="followup-radio-container">
            <input type="radio" value="epilepsy" name="epilepsy">has epilepsy</br>
            <input type="radio" value="no-epilepsy" name="epilepsy" selected>does not have epilepsy</br>
            <input type="radio" value="na" name="followupseizures">N/A</br>
          </div>
          <div>Notes (optinal)</div>
          <textarea name="followupEpilepsyNotes" class="followup-textarea"></textarea>
         </div>

         <hr>

         <div class="followup-pacemaker-container">
           <div class="pacemaker-question">
              <strong>The patient has had or is not sure if they have had a pacemaker. How would you best describe the patients status?</strong>
           </div>
           <div class="pacemaker-button">
             <input type="radio" value="AV-block" name="epilepsy">AV block/sinus node dysfunction</br>
             <input type="radio" value="no-epilepsy" name="epilepsy" selected>Neurocardiogenic syncope</br>
             <input type="radio" value="no-epilepsy" name="epilepsy" selected>ICD defibralation</br>
             <input type="radio" value="na" name="followupseizures">N/A</br>
           </div>
             <div>Notes (optinal)</div>
           <textarea name="followupPacemakerNotes" class="followup-textarea"></textarea>
         </div>

         <hr>
         <div class="followup-bloodpressure-container">
           <div class="bloodpressure-question">
              <strong>The patient has had or is not sure if they have had a history of high blood pressure. Is the patient currently taking any of the current medication?</strong>
           </div>
           <div class="bloodpressure-button">
            <select class="select" name="select">
              <option value="none">none of these</option>
              <option value="Bumetanide">Bumetanide (Bumex)</option>
              <option value="ChlorthalidoneH" selected>Chlorthalidone (Hygroton)</option>
              <option value="ChlorothiazideD">Chlorothiazide (Diuril)</option>
              <option value="Ethacrynate">Ethacrynate (Edecrin)</option>
              <option value="Furosemide">Furosemide (Lasix)</option>
              <option value="N/A">N/A</option>
            </select>
           </div>
             <div>Notes (optinal)</div>
           <textarea name="followupBloodpressureNotes" class="followup-textarea"></textarea>
         </div>

          <hr>






        <input class="type2" type="submit">
      </form>
    </div>
  </div>
</div>
<% include footer.ejs %>
