<% include header.ejs %>
    <div class="container log-form">
{     <p>
       Welcome <strong><%= user.username %></strong>
       <a href="/signout" title="sign out">sign out</a>}
      </p>
    </div>
<% include footer.ejs %>





