
<!DOCTYPE html>
<% include header.ejs %>
<div class="land-super-container">
  <div class="land-container">
    <div class="welcome-text">
      Welcome to the exam home page. You will be redirected back here after each exam segment. There are seven segments to complete before the exam is finished. The links are on the left. I recommend going in order.
    </div>
    <div class="link-container">
      <ul class="land-ul-new">
        <li class="land-li"><a class="land-a" id="" href="../demographics">Demographics</a></li>
        <li class="land-li"><a class="land-a" href="../history">History</a></li>
        <li class="land-li"><a class="land-a" href="../home">History Review</a></li>
        <li class="land-li"><a class="land-a" href="../testing">Testing</a></li>
        <li class="land-li"><a class="land-a" href="../vision">Vision</a></li>
        <li class="land-li"><a class="land-a" href="../hearing">Hearing</a></li>
        <li class="land-li"><a class="land-a" href="../physicalexamination">Physical Exam</a></li>
        <li class="land-li"><a class="land-a" href="../end">Finish</a></li>

      </ul>
    </div>
  </div>
</div>
