<!DOCTYPE html>
<% include header.ejs %>

  <div class="container">
    <h1>search results</h1>
    <div>
      <a href="../../landing/<%= sessionId %>"><%= name %></a>
    </div>
  </div>


  <% include footer.ejs %>
