<!DOCTYPE html>
<% include sign-header.ejs %>
    <div class="container log-form" id="register-form">
      <h2>Register Form</h2>
      <form method="post" action="/signup">
       <% if(typeof(errorMessage) !== 'undefined') {%>
       <span><%= errorMessage %></span>
       <% } %>
       <fieldset class="fieldset">
       <p class="upper-register">
        <label class="register-username" for="username">Username: </label>
        <input type="text" name="username" id="username"
           placeholder="username" required="true">
       </p>
       <p>
        <label class="register-password" for="password">Password: </label>
        <input type="text" name="password" id="password"
           placeholder="password" required="true"/>
       </p>
<!--        <hr>
       <p>
        <label class="register-address" for="password">Address: </label>
        <input type="text" name="registerEmail" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-city"for="password">City: </label>
        <input type="text" name="registerCity" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-state"for="password">State: </label>
        <input type="text" name="registerState" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-zip"for="zip">Zip: </label>
        <input type="text" name="registerZip" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-phone" for="password">Phone: </label>
        <input type="text" name="registerPhone" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-email" for="username">Email: </label>
        <input type="text" name="username" id="username"
           placeholder="username" required="true"/>
       </p>

       <p>
        <label class="register-license" for="password">License number: </label>
        <input type="text" name="registerLicense" id="password"
           placeholder="password" required="true"/>
       </p>
       <p>
        <label class="register-national" for="password">Registry number: </label>
        <input type="text" name="registerLicense" id="password"
           placeholder="password" required="true"/>
       </p> -->

       <p>
        <input type="submit" name="signup" id="signup" value="register"/>
        <!-- <a href="/signin" title="sign in">sign in</a> -->
       </p>
       </fieldset>

      </form>
    </div>
<% include footer.ejs %>
