<!DOCTYPE html>
<% include header.ejs %>

  <div class="submit-super-container">
    <div class="submit-sub-container">
      <h4 class="submit-error">Your forms have been saved.</h4>
       <form class="submit-form" action="/submit/:sessionId" method="post">
        <div id="topad">
        <input type="submit" value="Return to login" class="btn btn-primary submitBtn search-btn" /><span></span>
        </div>
       </form>
    </div>
  </div>


  <% include footer.ejs %>
