<!DOCTYPE html>
<% include header.ejs %>
<div class="testing-super-container">
  <div class="testing-container">
    <div class="testing-header-container">TESTING</div>
    <div class="testing-interior-container">
      <form action="/testing" method="post" name="frmSurvey">
        <div class="testing-table-container">
          <div class="testing-left">
            <table class="pulse-table">
              <tr class="first-pulse">
                <td>
                  Pulse rate:<input class="pulse-input" type="text" name="pulserate">
                  Pulse rhythm regular:<input class="pulse-rhythm-radio" type="radio" name="pulserhythm" value="1">Yes
                  <input class="pulse-rhythm-radio" type="radio" name="pulserhythm" value="2">No
                  <label class="height-label">Height:</label><input class="height-input" name="heightfeet"><label>feet</label>
                  <input class="height-input" name="heightinches"><label>inches</label>
                  <label class=weight-label>Weight:</label>
                  <input type="text" class="weight-input" name="weight">
                  <label>pounds</label>
                </td>
              </tr>
            </table>
            <div class="chamber-2-right">
              <table class="urine-table">
                <tr>
                  <td>
                    <label><strong class="urine-text">Urinalysis</strong></label>
                  </td>
                  <td class="urine-label urine-label-1">Sp. Gr.</td>
                  <td class="urine-label">Protein</td>
                  <td class="urine-label">Blood</td>
                  <td class="urine-label">Sugar</td>
                </tr>
                <tr class="urine-row-2">
                  <td class="urine-font">Urinalysis is required.
Numerical readings
must be recorded.</td>
                  <td><input class="urine-input urine-input-first" type="text" name="urinesp"></td>
                  <td><input class="urine-input" type="text" name="urineprotein"></td>
                  <td><input class="urine-input" type="text" name="urineblood"></td>
                  <td><input class="urine-input urine-input-last" type="text" name="urinesugar"></td>
                </tr>
                <table>
                  <div>
                    <input class="testing-button"type="submit" value="Save Testing" class="btn btn-primary submitBtn"/><span></span>
                  </div>
                </table>
              </table>
            </div>
            <div class="chamber-2-left">
            <table class="blood-pressure-table">
              <tr>
              <td>
                <label><strong class="blood-pressure-text">Blood pressure</strong></label>
                <label class="systolic-text"><strong>Systolic</strong></label>
                <label class="diastolic-text"><strong>Diastolic</strong></label>
              </td>
              </tr>
              <tr>
                <td class="first-reading-container non-border">
                  <label>Sitting</label>
                  <input type="text" class="systolic-input" name="systolic1">
                  <input type="text" class="diastolic-input" name="diastolic1">
                </td>
              </tr>
              <tr>
                <td>
                  <label>Second reading<br>(optional)</label>
                  <input type="text" class="systolic-input-2" name="systolic2">
                  <input type="text" class="diastolic-input-2" name="diastolic2">
                </td>
              </tr>
              <tr>
                <td class="non-border">
                  <div class="other-txt">Other testing if indicated</div>
                  <div><textarea class="other-testing-2" name="othertesting"></textarea></div>
                </td>
              </tr>
            </table>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>

























<!--   <div class="header-container">
    <div class="table-header table-header2">TESTING</div>
  </div>
  <div class=" container full-container full-container2">
    <form action="/testing" method="post" name="frmSurvey">
      <div class="row">
        <table style="width:100%">
            <tr>
              <td>
                Pulse rate:<input class="pulse" type="text" name="pulserate">
              </td>
              <td>
                Pulse rhythm regular:
                <input type="radio" name="rhythm" value="yes" id="yes">
                <label class="yes"  for="yes">yes</label>
                <input type="radio" name="rhythm" value="no" id="no">
                <label class="no"for="no">no</label>
              </td>
            </tr>
          <tr>
        </table>
        <div class="break"></div>
        <table style="width:100%">
            <tr class="mid-table-header">
              <td class="header-style">Blood pressure</td>
            </tr>
            <tr class="next">
              <td>
                Blood pressure:<input class="pulse" type="text" name="bloodpressure1"><input class="pulse" type="text" name="bloodpressure2">
              </td>
              <td>
                Systolic:
                <input class="pulse" type="text" name="systolic" id="">

                Diastolic:
                <input class="pulse" type="text" name="diastolic" id="">

              </td>
            </tr>
        </table>
        <div class="break"></div>
        <table style="width:100%">
            <tr class="next">
              <td>
                Sitting:<input class="pulse" type="text" name="sitting">
              </td>
              <td>
                Second reading(optional):<input class="pulse" type="text" name="secondreading">
              </td>
            </tr>
        </table>
        <div class="break"></div>
        <table style="width:100%">
            <tr class="next">
              <td>
                <div class= "col-md-12">
                  <div>Other testing if indicated</div>
                  <textarea class="textareaborder" rows="5" cols="80" name="othertesting">
                  </textarea>
                </div>
              </td>
            </tr>
        </table>
        <div class="col-md-8">
          <input type="submit" value="Save Changes" class="btn btn-primary submitBtn"/><span></span>
          <input type="reset" value="Clear form" class="btn btn-default clearBtn"/>
        </div>
      </div>
    </form>
  </div> -->


  <% include footer.ejs %>
