<!DOCTYPE html>
<% include header.ejs %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 personal-info">
          <h3 class="col-md-offset-5 form-label">Patient Vitals</h3>
          <form role="form" class="form-horizontal  action="/demographics" method="post">
            <div class="form-group">
              <label class="col-lg-3 control-label">Blood Pressure:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="160/80" class="form-control fName" name="bloodpressure"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Temperature:</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Temperature" class="form-control mName" name="temperature"//>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Height</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Height" class="form-control lName" name="height"//>
              </div>
            </div>
            <div class="form-group">
              <label class="col-lg-3 control-label">Weight</label>
              <div class="col-lg-8">
                <input type="text" placeholder="Weight" class="form-control lName" name="weight"//>
              </div>
            </div>
            <div class="form-group"></div>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <input type="submit" value="Save Changes" class="btn btn-primary submitBtn"/><span></span>
                <input type="reset" value="Clear form" class="btn btn-default clearBtn"/>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
<% include footer.ejs %>

