<!DOCTYPE html>
<% include header.ejs %>


<div class="container">
  <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <h4 class="warn">Attention</h4>
        <div class="visionwarn">
        <div class="text">
          A person must have distant visual acuity of at least 20/40 (Snellen) in each eye without corrective lenses or visual acuity separately corrected to 20/40 (Snellen) or better with corrective lenses.
        </div>
        </div>


    </div>
  </div>
</div>


<% include footer.ejs %>
