.form-label {
  margin-bottom: 25px;
  margin-top: 50px;
}

.container {
  background-color: #F8F8F8 ;
}

.navbar {
  background-color: #546e7a !important;
}

a {
  color: white !important;
}

.log-form {
  margin-top: 50px;
}

.register {
  color: black !important;
}

.user {
  padding-top: 50px;
}

.hidden {
  display: none;
}

.table-left {
  width: 45%;
}
