.form-label {
  margin-bottom: 25px;
  margin-top: 50px;
}

.container {
  background-color: #F8F8F8 ;
}

.navbar {
  background-color: #06485E !important;
}

a {
  color: white !important;
}

.log-form {
  margin-top: 50px;
}

.register {
  color: black !important;
}

.user {
  padding-top: 50px;
}

.hidden {
  display: none;
}

/*.table-left {
  width: 45%;
}*/

.full-container {
  width: 70% !important;
  border: solid 2px darkblue;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.table-header {
  width: 79.3%;
  height: 20px;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 42px;
  padding-left: 10px;
}

.yes {
  padding-right: 5px;
  padding-left: 5px;
}

.no {
  padding-right: 5px;
  padding-left: 5px;
}

.notsure {
  padding-right: 5px;
  padding-left: 5px;
}

.history-table td {
  padding-bottom: 5px;
  font-size: 14px;
}

.history-table2 td {
  padding-bottom: 5px;
  font-size: 14px;
}
.header-container {
  padding-left: 150px;
}

.top-header {
  margin-left: 192px;
}

.table-header2 {
  background-color: darkgreen;
}

.full-container2 {
  border: solid 2px darkgreen;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.full-container2 {
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.textareaborder {
  width: 100%;
  border: solid darkgreen 1px;
}

.move-left {
  margin-left: -15px;
}

.pulse {
  border-bottom: solid black 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  max-width: 70px;
  margin-left: 5px;
}

.yes {
  margin-left: 2px;
}

.no {
  margin-left: 2px;
}

.pusher {
  padding-left: 5px;
  padding-top: 5px;
}

.history-table-move {
  margin-left: -60px;
}

.break {
  width: 99% !important;
  height: 1px;
  background-color: darkgreen;
  margin-left: 3px;
  margin-top: 4px;
}

.next td{
  padding-top: 3px;
}

.header-style {
  color: darkgreen;
  font-weight: 500;
}

.eyebox {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px darkgreen;
  width: 50px;
/*  padding: 3px;*/
}

.eyetable  {
  padding-bottom: 8px;
}

.hearingtable {
  padding-bottom: 10px;
}

.earbox {
  width: 50px;
}

body {
  background-color: #F8F8F8 !important;
}

.ab {
  padding-top: 5px;
}

.close {
  margin-right: 60px;
}

.visionwarn {
/*  width: 500px;
  height: 300px;*/
  border: solid darkgreen 1px;
}

.text {
  padding: 5px;
}

#topad {
  padding-top: 20px;
}


/*form work*/

/*.main-box {
  border: solid darkgreen 1px;
}
.main-header {
  background-color: darkgreen;
}*/

.super-container2 {
  background-color: gray;
}

.main-container2 {

  width: 80%;
  border: solid red 1px;
}

.content-container2 {
  background: black;
  width: 80%;
  border: solid darkgreen 1px;
  float: right;

}

.header-container2 {
  width: 100%;
  border: solid red 1px;
  background-color: darkgreen;

}

.header-content2 {
  color: white;
  }

.supercontainer {
  width: 85%;
  /*border: solid darkblue 1px;*/
}

.container2 {
  border: solid darkblue 1px;
  width: 80%;
  /*height: 800px;*/
  float: right;

}

.headercontainer {
  width: 100%;
  border: solid darkblue 1px;
  background: darkblue;
}

.headertext {
  font-weight: 500;
  padding-left: 2px;
  color: white;
}

.innercontainer {
  margin: 1px;
  /*border: solid red 1px;*/
}

.formcontainer {
  margin: 1px;
  /*border: solid red 1px;*/
}

.inputline {
  width: 110px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.age {
  width: 50px;
}

.row1container {
  /*border: solid red 1px;*/
  margin: 2px;
}

.row2container {
  /*border: solid red 1px;*/
  margin: 2px;
}

.inputline2 {
  width: 200px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.dob {
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.row3container {
  /*border: solid red 1px;*/
  margin: 2px;
}

.gendercontainer {
  width: 100px;
}

.issuing {
  width: 75px;
}

.genderM {
  margin-left: -75px;
}

.genderlabel {
  font-weight: 200 !important;
}
.maingenderlabel {
  font-weight: 200 !important;
}

label {
  font-weight: 200 !important;
}

.row4container {
  /*border: solid red 1px;*/
  margin: 2px;
}

.emailinput {
  width: 200px;
}


.row5container {
  /*border: solid red 1px;*/
  margin: 2px;
}

.verifiedspace {
  width: 500px;
  /*border: solid red 1px;*/
}

.verifiedinput {
  width: 150px;
}

.rowcontainer {
  margin: 10px;
}

.history-super-container {
  width: 90%;
}

.history-container {
  width: 85%;
  float: right;
}

.table-left-container {
  width: 47%;
  float: right;
  margin: 4px 8px 4px 8px;
}

.table-right-container {
  width: 47%;
  margin: 4px 8px 4px 8px;
}

.history-container {
  border: solid darkblue 1px;
}

.followup-links {
  color: blue !important;
}

.followup-container {
  padding-left: 20px;
}

#no {
  display: none;
}

#yes {
  margin-left: 390px;
}

a {
  color: black !important;
}

.other-conditions {
  width: 97%;
  height: 100px;
  margin: 3px 15px 15px 15px;
}

.other-question-container {
  margin: 15px 15px 0px 15px;
}

.otherbutton {
  margin: 0px 5px 0px 5px !important;
}

.other-question {
  padding-left: 15px;
}

.initial-push {
  padding-left: 15px;
}

.other-table {
  padding-bottom: 20px !important;
}

td {
  padding-bottom: 10px !important;
}

.insulin {
  padding-left: 147px !important;
}

#medication-button {
  margin: 0px 5px 0px 5px !important;
}

.testing-super-container {
  width: 85%;
  /*border: solid red 1px;*/
}

.testing-container {
  width: 80%;
 /* height: 500px;*/
  border: solid darkgreen 2px;
  float: right;
}

.testing-header-container {
  width: 100%;
  height: 20px;
  background-color: darkgreen;
  color: white;
}

.testing-table-container {
  padding: 5px;
}

.pulse-input {
  width: 50px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
  margin-left: 5px !important;
  margin-right: 7px !important;
}

.pulse-rhythm-radio {
  margin: 0 5px 0 5px !important;
}

input {
  background-color: rgb(241,244, 255);
}

.height-input {
  width: 25px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.height-label {
  margin-left: 83px;
}

.weight-input {
  width: 40px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.weight-label {
  margin-left: 20px;
}

.pulse-break {
  width: 95%;
  border-bottom: solid darkgeen 1px !important;
}

.pulse-table {
  width: 100%;
  /*margin-bottom: 0px;*/
  border-bottom: solid darkgreen 1px;
  margin: 0 5px 0 0;
}

.blood-pressure-table, tr {
 /* border-bottom: solid 1px black;*/
  margin-top: 15px;
  width: 100%;
}

.blood-pressure-text {
  color: darkgreen;
  margin-right: 14px;

}

.systolic-text {
  margin-left: 30px;

}

.diastolic-text {
  margin-left: 70px;
}

.systolic-input {
  margin-top: 7px;
  width: 80px;
  margin-left: 96px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.diastolic-input {
  margin-top: 7px;
  margin-left: 45px;
  width: 80px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.systolic-input-2 {
  margin-left: 38px;
  width: 80px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.diastolic-input-2 {
  margin-left: 45px;
  width: 80px;
  border-left: none;
  border-top: none;
  border-right: none;
  border-bottom: solid 1px black;
}

.first-reading-container {
  margin-top: 10px !important;
}

.other-testing {
  margin-top: -10px;
  background: rgb(241,244, 255);
  width: 99%;
}

.other-testing-2 {
  margin-top: 12px;
  background: rgb(241,244, 255);
  width: 99%;
}

.urine-text {
  color: darkgreen;
  padding-left: 3px;
}

.chamber-2-left {
  width: 49.5%;
  /*border-right: solid darkgreen 1px;*/
  /*float: right;*/
  /*margin-top: -20px;*/
}

.chamber-2-right {
  width: 49.5%;
  /*border-left: solid darkgreen 1px;*/
  float: right;
}

.urine-table {
  margin-top: 15px;
}

.urine-label {
  /*padding-left: 2px !important;*/
  /*border-left: solid 1px black;*/
  text-align: center;
}

.urine-font {
  padding-left: 3px;
  font-size: 13px;
}

tr.urine-row-2 > td
{
  padding-top: 10px;
}

.urine-input {
  width: 50px;
  height: 79px;
  margin-left: 15px;
  border-bottom: solid black 1px;
}

.urine-input-first {
  margin-left: 0px;
}

.other-txt {
  border: 0px !important;
  margin-bottom: -10px;
}

.urine-input-last {
  padding-right: 7px !important;
}

.testing-button {
  margin: 30px 0 0 165px;
  background-color: rgb(47, 121, 185);
  color: white;
}

tr.non-border {
  border-bottom: 0px !important;
}

.vision-radio-container {
  margin-top: 15px;
  width: 50%;
}

.smaller-text {
  /*font-size: 12px;*/
  margin-top: 30px !important;
}

.vision-radio {
  margin-left: 100px !important;
  padding-left: 10px !important;
}

.moveleft {
  padding-right: 0px;
}

#hearing-table-top {
  margin-top: 15px;
  margin-bottom: 10px
}

#hearing-input {
  margin-left: 5px;
}

.end-super-container {
  width: 90%;

}

.end-conteiner {
  width: 86%;
  float: right;
  border: solid 2px black;
}

.end-session-text {
  color: darkgreen;
  margin-top:;
  text-align: center;
  padding-bottom: 10px;

}

.end-text-container {
  width: 100%;
  border: solid lightgray;
  background: lightgray;
}

.end-padding {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 7px;
}

.email-text {
  padding-right: 5px !important;
}

#radio-end {
  padding-left: 8px;
}

#tbl-head {
  padding-right: 10px;
}

.header-container {
  margin-left: -3px;
}

.mr {
  margin-left: 100px !important;
}

#history-submit-btn {
  margin: 5px 0 20px 420px;
  background: blue;
  color: white;
  width: 100px;
}

#home-btn {
  width: 150px;
  margin: 20px 0 20px 550px;
  background-color: blue;
  color: white;
}

#register-form {
  text-align: center;
  border: solid darkblue 2px;
  border-radius: 10px;
  width: 460px;
  box-shadow: 10px 10px 5px #888888;
}

#signup {
  color: white;
  background-color: blue;
}

.register-email {
  margin-left: 9px;
}

.register-license {
  margin-left: -53px;
}

.register-phone {
  margin-left: 3px;
}

.register-address {
  margin-left: -7px;
}

.register-zip {
  margin-left: 23px;
}

.register-state {
  margin-left: 12px;
}
.register-city {
  margin-left: 20px;
}

.register-national {
  margin-left: -56px;
}

.upper-register {
  margin-top: 15px;
}

.fieldset input {
  width: 190px;
}

.register-password {
  margin-left: -22px;
}

.register-username {
  margin-top: -10px;
  margin-left: -20px;
}

.end-table {
  color: red;
}

.followup-radio-button {
  margin-right: 5px !important;
}

#followUpPacemaker_2 {
  visibility: hidden;
}

.followup-brain-container {
  width: 36%;
}

#want-a-link {
  color: blue;
}

.land-ul
{
    list-style-type: none;

}

.land-a {
  /*text-decoration: none;*/
  padding: 5px;
  border: solid 1px black;
  background-color: lightblue;
  color: black !important;

}

.land-a:hover {
  background-color: blue;
  color: white !important;

}

.land-li {
  margin: 12px;
}

.land-super-container {
  width: 90%;
}

.land-container {
  width: 90%;
  float: right;
  border: solid black 1px;
}

.welcome-text {
  font-weight: bold;
  width: 80%;
  float: right;
  margin: 5px;
}

.link-container {
  width: 18%;
  border-right: solid black 1px;
}


.land-ul-new {
  list-style-type: square;
}

li.d {
  list-style: none;
}


