.form-label {
  margin-bottom: 25px;
  margin-top: 50px;
}

.container {
  background-color: #F8F8F8 ;
}

.navbar {
  background-color: #06485E !important;
}

a {
  color: white !important;
}

.log-form {
  margin-top: 50px;
}

.register {
  color: black !important;
}

.user {
  padding-top: 50px;
}

.hidden {
  display: none;
}

/*.table-left {
  width: 45%;
}*/

.full-container {
  width: 70% !important;
  border: solid 2px darkblue;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.table-header {
  width: 79.3%;
  height: 20px;
  background-color: darkblue;
  color: white;
  font-weight: bold;
  margin-right: 50px;
  margin-left: 42px;
  padding-left: 10px;
}

.yes {
  padding-right: 5px;
  padding-left: 5px;
}

.no {
  padding-right: 5px;
  padding-left: 5px;
}

.notsure {
  padding-right: 5px;
  padding-left: 5px;
}

.history-table td {
  padding-bottom: 5px;
  font-size: 14px;
}

.history-table2 td {
  padding-bottom: 5px;
  font-size: 14px;
}
.header-container {
  padding-left: 150px;
}

.top-header {
  margin-left: 195px;
}

.table-header2 {
  background-color: darkgreen;
}

.full-container2 {
  border: solid 2px darkgreen;
  margin-left: 20px;
  margin-right: 20px;
  background-color: white;
}

.textareaborder {
  width: 100%;
  border: solid darkgreen 1px;
}

.move-left {
  margin-left: -15px;
}

.pulse {
  border-bottom: solid black 1px;
  border-top: none;
  border-right: none;
  border-left: none;
  max-width: 70px;
  margin-left: 5px;
}

.yes {
  margin-left: 2px;
}

.no {
  margin-left: 2px;
}

.pusher {
  padding-left: 5px;
  padding-top: 5px;
}

.history-table-move {
  margin-left: -60px;
}

.break {
  width: 99% !important;
  height: 1px;
  background-color: darkgreen;
  margin-left: 3px;
  margin-top: 4px;
}

.next td{
  padding-top: 3px;
}

.header-style {
  color: darkgreen;
  font-weight: 500;
}

.eyebox {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 1px darkgreen;
  width: 50px;
/*  padding: 3px;*/
}

.eyetable  {
  padding-bottom: 8px;
}

.hearingtable {
  padding-bottom: 10px;
}

.earbox {
  width: 50px;
}
